body {
  font-family: 'Mulish';
}

#root {
  max-width: 50em;
  
  margin: 0 auto;
}

h2 {
  font-weight: 600;
}

button {
  cursor: pointer;
}

input,
textarea {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5em 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 0.5em;
}

section> :last-child {
  grid-column: span 2;
}

.divider {
  display: block;

  height: 2px;

  margin: 2em 2em;

  background-color: hsl(9, 8%, 83%);
}

.newBtn {
  display: flex;
  align-items: center;

  margin: 0 auto;

  border: none;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(249, 14%, 30%);
  background-color: transparent;
}

.newBtn svg {
  margin-right: 0.25em;
  fill: hsl(249, 14%, 30%);
}

.inputDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;

  margin: 1em;
}

label {
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}

.inputField {
  width: 100%;
}

.inputField> :first-child {
  width: 100%;

  padding: 0.5em 1em;

  font-size: 0.875rem;

  background-color: hsl(0, 9%, 86%);
  border: 1px solid hsl(60, 3%, 89%);
  border-radius: 8px;
  outline: none;
}

textarea {
  height: 8em;
}