.App {
  padding: 2em;

  background-color: hsl(18, 22%, 91%);
  color: hsl(245, 26%, 19%);
}

section {
  max-width: 50em;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto;
  padding: 0.5em;
  margin-bottom: 2em;
}

section > :last-child {
  grid-column: span 2;
}

section:after {
  content: '';
}
